<div class="row justify-content-md-center">
  <div class="col-lg-6">
  <form (submit)="EmployeeDetails()">
    <div class="shadow-lg p-3 mb-5 bg-light rounded card">
      <div class="card-header bg-light">
        <h3 class="title">ADD EMPLOYEE</h3>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="Fname" class="control-label"> Full Name: </label>
          <input id="Fname" name ="fname" [(ngModel)]="F_name" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="birthDate">Date Of Birth:</label>
          <input id="birthDate" name="dateOfBirth" [(ngModel)]="dateOfBirth" type="date" bsDatepicker  class="form-control" placeholder="dd/mm/yy">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" name="email" [(ngModel)]="email" type="email" class="form-control">
        </div>
        
        <label>Select Skill:</label>
        <div class="form-group col-sm-3" >
          <div class="custom-control custom-checkbox mb-3" *ngFor="let sk of skill_set">
              <input type="checkbox"  class= "custom-control-input" name = "num" id="{{sk.skill}}" value="{{sk.skill}}" [(ngModel)]="sk.selected" (change) = "selected_value()">
              <label class="custom-control-label" for="{{sk.skill}}">{{sk.skill}}</label>
          </div>
        </div>
      </div>
      <!-- <div *ngIf="msg" class="alert-success">{{msg}}</div> -->
      <flash-messages></flash-messages>
      <div class="card-footer bg-light">
        <button class="shadow-lg p-3 mb-5 bg-light rounded" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
</div>
