
  <div class="row justify-content-md-center">
    <div class="shadow-lg p-3 mb-5 bg-white rounded jumbotron">
      <h1 class="display-4">Employee Management System</h1>
      <p class="lead">Welcome to Home Page</p>
      <hr class="my-4">
        <div class="row justify-content-md-center">
          <div id= "addButton" class="col-xs-6">
          <p class="lead">
            <button id="add" class="btn btn-lg" routerLink="/addEmp" role="button">Add Employee</button>
          </p>
        </div>
        <div id= "viewButton"class="col-xs-6">
          <p class="lead">
            <button id="view" class="btn btn-lg" routerLink="/viewEmp" role="button">View Employees</button>     
          </p>
        </div>
      </div>
    </div>
</div>
<router-outlet></router-outlet>
