form table button #warning{
    background-color: #f0ad4e;
}

.jumbotron .panel .panel-head .title{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.search .suggestions {
    margin-top: 180px;
    margin-left: 50px;
}