.navbar{
    margin-bottom: 30px;
    margin-top: 10px;
}
.active-link{
    background-color: #5bc0de;
    color: black;
    -webkit-box-shadow: 0px 0px 15px 3px rgb(245, 244, 244);
    -moz-box-shadow: 0px 0px 15px 3px rgb(245, 244, 244);
    box-shadow: 0px 0px 15px 3px rgb(223, 221, 221);
}
.nav-item {
    color: white;
}

.container .flash-messages {
    width: 200px;
    padding: 20px;
    text-align: center;
}